body{
    font-family: Arial;
    background: linear-gradient(135deg,#a18cd1,#fbc2eb);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:25px;
    width:380px;
    border-radius:15px;
    box-shadow:0px 8px 25px rgba(0,0,0,0.2);
    text-align:center;
}

h2{
    margin-bottom:15px;
}

.inputSection{
    display:flex;
    justify-content:space-between;
}

input{
    width:65%;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    background:#6675ff;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    background:#4e5cff;
}

ul{
    padding:0;
    margin-top:15px;
}

li{
    list-style:none;
    padding:10px;
    margin-top:10px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    font-weight:bold;
}

.completed{
    text-decoration:line-through;
    opacity:0.6;
}

.deleteBtn{
    background:red;
    font-size:12px;
    padding:5px 8px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.counter{
    margin-top:10px;
    font-size:14px;
    color:#555;
}
